---
layout: default
---
<section class="intro">
  <img class="avatar" src="{{ site.author.avatar | relative_url }}" alt="Photo of {{ site.author.name }}" width="168" height="168">
  <div class="intro-text">
    <h1>{{ site.author.name }}</h1>
    <p class="role">
      {{ site.author.position }}<br>
      {% if site.author.affiliation_url %}<a href="{{ site.author.affiliation_url }}">{{ site.author.affiliation }}</a>{% else %}{{ site.author.affiliation }}{% endif %}
    </p>
    <ul class="social">
      {% for s in site.social %}
        <li><a href="{{ s.url | relative_url }}">{{ s.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="about prose">
  {{ content }}
</section>

{% if site.data.news and site.data.news.size > 0 %}
<section class="block" aria-labelledby="news-h">
  <h2 id="news-h">News</h2>
  <ul class="news">
    {% for item in site.data.news limit: site.news_limit %}
      <li><time>{{ item.date }}</time><div>{{ item.text | markdownify | remove: '<p>' | remove: '</p>' }}</div></li>
    {% endfor %}
  </ul>
  {% if site.data.news.size > site.news_limit %}
  <details class="more">
    <summary>Show older news</summary>
    <ul class="news">
      {% for item in site.data.news offset: site.news_limit %}
        <li><time>{{ item.date }}</time><div>{{ item.text | markdownify | remove: '<p>' | remove: '</p>' }}</div></li>
      {% endfor %}
    </ul>
  </details>
  {% endif %}
</section>
{% endif %}

{% assign selected = site.data.publications | where: "selected", true %}
{% if selected.size > 0 %}
<section class="block" aria-labelledby="pubs-h">
  <h2 id="pubs-h">Selected publications</h2>
  <ol class="pubs">
    {% for pub in selected %}{% include pub.html pub=pub %}{% endfor %}
  </ol>
  <p class="see-all"><a href="{{ '/publications/' | relative_url }}">All publications</a></p>
</section>
{% endif %}

{% if site.posts.size > 0 %}
<section class="block" aria-labelledby="posts-h">
  <h2 id="posts-h">Recent posts</h2>
  <ul class="post-list">
    {% for post in site.posts limit: 3 %}{% include post-item.html post=post %}{% endfor %}
  </ul>
</section>
{% endif %}
